*{
margin: 0;
}

#conteneur{
width: 1000px;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
display: table;
}

#bandeau{
	background: url(../images/immobm.png) no-repeat;
 	background-size: cover;
 	height: 190px;
}

#haut {
margin: 0px;
display: table-row;
}

#menu {
font-size: 0;
}

#menu ul{
list-style-type: none;
padding: 0px;
margin: 0px;
font-family: Helvetica; 
}

#menu li{
display: inline-block;
}	

#menu a{
display: inline-block;
text-decoration: none;
padding: 10px;
font-size: 15px;
font-weight: bold;
color: #9e998f;
}	


#menu a:hover
{
color: #000000;
}

.menuSelect {
background-color: #ccdcec;
display: inline-block;
text-decoration: none;
color : #ffffff;
padding: 10px;
font-size: 15px;
font-weight: bold;
}


#content {
display: table-row;
display: table;
width: 100%;
}

#gauche{
 //background: url(../images/quinconces.png) no-repeat;
 background-size: cover;
 display: table-cell;
 width: 27%;
 background-color: #9e998f;
 vertical-align: top;
 height: 600px;
 font-family: Helvetica; 
 }


#droite{
 display: table-cell;
 width: 73%;
 text-align: center;
 background-color: #7ea7cf;
 padding-top: 20px;
}

#droite-haut{
 display: table;
 width: 100%;
}


#bas{
 display: table-row;
  background: url(../images/bas.png) no-repeat;
 background-size: cover;
 
}

#bandeau{
 width: 100%;
}

#pied{
 width: 100%;
}

.titre{
margin-top: 15px;
 text-align: left;
 color: white;
 font-weight: bolder;
 font-family: helvetica;
}

#accueil{
text-align: center;
margin-top: 20px;
font-family: helvetica;
font-size: 20px;
}

#listeCommunes{
	font-size: 10px;
	display: block;
	border: 1px solid grey;
	height: 100px;
	overflow:auto ;	
}

#droiteAchat{
	display: block;
	overflow:auto ;
	height: 500px;
	text-align: center";
	
}


.bien{
	font-family: helvetica;
	display: table;
	text-align: left;
	height: 100px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid grey;
}

.bienZone1{
	display: table-cell;
	width: 20%;
	padding: 5px;
	text-align: center;
}


.bienZone1 img{
	width: 150px;
	height:150px;

	}

.bienZone2{
	display: table-cell;
	width: 60%;
	padding: 5px;
}

.bienZone3{
	display: table-cell;
	width: 20%;
	text-align: center;
	padding-top: 30px;
	color: white;
	font-weight: bolder;
}


.listeCommunes{
	margin-left : 10px;
	display : block;
	height : 100px;
	overflow : auto;
	border : solid 2px black;
}

#boutons{
	margin-top : 20px;
	margin-left : 20%;
}
