body{
	margin: 0 ;
	 padding: 0 ;
	 text-align: center ;
	 font: 0.8em "Trebuchet MS", helvetica, sans-serif ;
	 text-align: justify;
	 font-size: 15px ;
	 background-color : #F2FCEC;
}

h1{
	text-align: center;
	font-size: 35px;
	font-family : PT serif, times, serif
}
h2{
	font-family : Helvetica, times, serif
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 30px;
    margin-inline-end: 0px;
    font-weight: bold;
    
}


header
{
position: fixed;
    height: 200px;
    margin: 0;
    padding: 0;
    text-align: center;
    top: 0;

}

header img{
	width: 100%;
	height: 195px;
	border-bottom:solid 5px #558F4F;
}

#corps{
	padding-top: 210px;
}

span.actif{
	width: 150px;
    line-height: 25px;
    font-size: 1.2em;
    background-color: #3D6829 ;
    font-weight: bold;
    letter-spacing: 2px;
    color: #DFF5D4;
    display: block;
    text-decoration: none;
}
nav#menuhorizontal {
margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
    text-align: right;
    position: fixed;
    
	
}

nav#menuhorizontal ul{
	border-bottom:solid 5px #558F4F;
	margin: 0;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    text-align: right;
    background-color: #5CAC54;
    position: relative;
    top: 200px;
}

nav#menuhorizontal li{
	float: left ;
	text-align: center ;
	display: inline-block;
	color: #DFF5D4 ;
	font-weight: bold ;
	letter-spacing: 2px ;
}

nav#menuhorizontal li a{
	width: 150px ;
	line-height: 25px ;
	font-size: 1.2em ;
	background-color: #5CAC54 ;
	font-weight: bold ;
	letter-spacing: 2px ;
	color: #DFF5D4 ;
	display: block ;
	text-decoration: none ;
}

nav#menuhorizontal li a:hover
{
	background-color: #3D6829 ;
}

/**********************************************************************/
/*styles pour la zone droite de la zone centrale de la page           */
/**********************************************************************/
.droite {
	display: inline-block;
	width: 80%;	
	font-size: 15px;
	vertical-align: top;
	margin-left : 20%;
	min-height : 500px;
}

/**********************************************************************/
/*styles pour la zone gauche de la zone centrale de la page           */
/**********************************************************************/
.gauche {
	display: inline-block;
	width: 20%;
	vertical-align: top;
	font-size: 15px;
}





/****************************************************/
	/*styles pour la zone navigation gauche 			*/
	/****************************************************/ 
	
	.navigation {
    position: fixed
}
	
	a.anchor {
	    display: block;
	    position: relative;
	    top: -200px;
	    visibility: hidden;
	}
	
	
	.menuGauche{
		position: fixed;
		background-color: #fff;
		overflow-x: hidden;
	 	left: 0px;
	 	margin-left : 1%;
		height : 350px;;
		width: 15%;
		overflow-y: scroll;
	 	border-right: 3px solid lightgrey;
		border-bottom: 3px solid lightgrey;
		border-top: 1px solid lightgrey;
		border-left: 1px solid lightgrey;
		
		
	}
	.menuGauche ul{
	  	list-style: none;
	  	list-style-type: none; 
		font-size: 16px;
		text-align: left;
		line-height: 20px;
		padding-left: 10px;
		padding-top: 6px;
	}
	.menuGauche li a {
	  text-decoration: none;
	  color: #292924; 
	}
	
	nav.menuGauche ul li .actif {
	  	font-weight: bold;
	}
	.menuGauche li a:hover {
	  color: #041200;
	  font-weight: bold;
	}
	
	.menuGauche span.actif{
	background-color: #DFF5D4;
	color:black;
	}

.conteneur{
	
}
.copyright{
		margin-top: 1%;
		padding-bottom: 1%;
	}
	
.copyright p a{
	text-decoration: none;
	font-weight: normal;
	color: #fff;
	}
	
.connexion {
		font-size: 15px;
		width: 400px;
		height: 240px;
		border-right: 3px solid lightgrey;
		border-bottom: 3px solid lightgrey;
		border-top: 1px solid lightgrey;
		border-left: 1px solid lightgrey;
		margin-top: 5%;
		position: fixed;
		margin-left: 27%;
	
	}
	
	.connexion .titre{
		text-align: center;
		font-size: 130%;
		font-weight: bold;
		padding: 15px;
		background-color:#5CAC54 ;
	}
	
	
	.connexion .ligne{
		text-align: center;
		padding-block-end: 10px;
	}
	
	.connexion .ligne label{
		display: inline-block;
		width: 150px;
		text-align: left;
		padding-right: 10px;
		font-weight: bold;
		color: #5CAC54;
		
	}
	
	.connexion input#submit, input#reset{
		display: inline-block;
		width: 200px;
		background-color: #2eb502;
		border: 0px;
	}
	
	
	.connexion input[type=submit]{
		display: inline-block;
		width: 150px;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}